# 1. Fill the missing pieces

#### Fill the `____` parts of the code below. To `print()` only those strings in `words` that are entirely `upper_case`.

In [0]:
words = ['PYTHON', 'JOHN', 'chEEse', 'hAm', 'DOE', '123']

for ____ in :
    if ____.isupper(): #.isupper is a string method that asks, are all letters uppercase?
        print(____)
    else:
        continue

***
<br>
<br>

# 2. Calculate the sum of dict values
**Calculate the sum of the values in `magic_dict` by taking only the numeric values into account**.

Iterate through `magic_dict`.

If `value` is in fact a number, sum it to `accumulator`.

If not `continue`

>**hint**: see [isinstance](https://docs.python.org/3/library/functions.html#isinstance)

In [0]:
magic_dict = {'val1':44, 
              'val2':'secret value', 
              'val3':55.0, 
              'val4':1
             }

#### Your Solution:

### Create a variable called `accumulator` and initialize it with the value `0`

### Create a loop to add to accumulator if the value of the dictionary is a number

#### Test Solution:

In [0]:
# the sum should ultimately be 100
assert accumulator == 100

***
<br>
<br>

# 3. Loop through a `range()` and build `list`

1. Create a `range` object with each year in the 80s, call it `the_80s`
2. **Note:** `range()` is not a `list`, to use it as such, must wrap in a `list()`
3. **optional:** `print(list(range(your, three, parameters)))` 
4. If above looks funky, do this instead:
    
    a. `var = list(range(your,3,params))`
    
    b. `print(var)`

5. Create an empty list, name it `the_90s`
6. Create a `for loop` that `iterates` through the `the80`s `range` object.
7. Use the `for loop` to take the values of the_80s to make `the_90s`
8. `the90s` `==` `[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]`

In [0]:
assert isinstance(the_80s, range)
assert the_90s == [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]

***
<br>
<br>

# 4. Create a list of strings based on a list of numbers

**The rules:**
* If the number is a multiple of five and odd, the string should be `'five odd'`
* If the number is a multiple of five and even, the string should be `'five even'`
* If the number is odd, the string is `'odd'`
* If the number is even, the string is `'even'`

In [0]:
numbers = [1, 3, 4, 6, 81, 80, 100, 95]

#### Your Solution:

##### Populate `my_list` using a for loop and conditional statements

In [0]:
# You should have multiple conditional statements, you will have to append a string in each iteration.

#### Test Solutution:

In [0]:
# 1 is 'odd'
# 95 is 'five odd'
# etc ...

assert my_list == ['odd', 
                   'odd', 
                   'even', 
                   'even', 
                   'odd', 
                   'five even', 
                   'five even', 
                   'five odd']