# [Numbers](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex), [Operators](https://www.tutorialspoint.com/python/python_basic_operators.htm), [Variables](https://python-textbok.readthedocs.io/en/1.0/Variables_and_Scope.html#variables), and [Data Types](https://realpython.com/python-data-types/)

<hr>

## Understanding How To Use A Notebook

### <span style="color:red"> ***Click Me*** </span>

If you see this cell have a shadow around it, it means that this cell is focused.

### <span style="color:red"> ***Double Click Me*** </span>

If you see this cell have a shadow around it, that means that this cell is selected for edit.
To get out of edit mode, click `shift` and `enter` at the same time.
This will run the cell with the edits you made, if you made any at all and shift the focus to the cell below. 

You can also press `ESC` or `Escape` to switch from edit mode to focus mode. **Note** that you need to run the cell for any markdown style to take effect, do this by clicking `shift` and `enter` at the same time.

### <span style="color:red"> ***Click Me Again*** </span>

If you see this cell have a shadow around it, that means that this cell is focused. 

**When the cell is focused you can press keys on the keyboard to help you navigate the notebook cells easier.**

**Once A Cell Is Selected You Can Press The Following Keys For Their Respective Actions:**
- `up arrow` - shift focus to cell above
- `down arrow` - shift focus to cell below


- `Enter` - edit cell after cell is selected
- `ctrl + Enter` - run **code cell** and keep focus on code cell. **(will not work with markdown cell)**.
- `shift + Enter` - runs **any type of cell** and then shifts focus to the cell below.
- `ctrl + shift + y` - redo cell action
- `ctrl + shift + z` - undo cell action

**For the key combinations below press `ctrl + m` first, and then after that click the other letter on the keyboard:**  
- `ctrl+m a` - insert cell above the selected cell
- `ctrl+m b` - insert cell below the selected cell


- `ctrl+m m` - changes the cell type to a markdown cell, which allows you to write notes about code cells
- `ctrl+m y` - changes the cell type to a code cell, which allows you to write and execute code.


- `ctrl + m d` - will delete the selected cell. If you accidently delete a cell navigate to the *`Edit`* toolbar near the top of the screen and click `Undo Delete Cells`, or you can undo cell action by typing `ctrl + shift + z`

<hr>

### This Is A ***`Markdown`*** Cell

Use markdown cells to write notes about your code and experiments.

Once focused click `Enter` to edit the markdown cell, once finished click `Shift` and `Enter` at the same time for the edits to take place.

*Code cells look different than mark down cells.*

<hr>

In [0]:
# This is a code cell

In [0]:
# Once focused click `Enter` to edit the code cell

print("Hello!") # Press shift and enter to run cell to see output

Hello!

# 1. Basic operators - Python as a Calculator
<hr>

The most basic operations in `python` are the same as the most basic operations of a calculator.

<hr>

<img src="https://media.giphy.com/media/DHqth0hVQoIzS/giphy.gif">

<br>
<br>

### Addition `+`
<hr>

Try adding together `numbers` and/or `strings` inside of a jupyter notebook cell
<br>
Notice how the behavior of `+` changes, depending on the `data type` of the objects being "added."

<hr>

```python
2 + 3
```

In [0]:
2 + 3

5

```python
'2' + '3'
```

In [0]:
'2' + '3'

'23'

#### Is `Python` like `Javascript`?
Will this work? 
<br>
try it out.
```python
'7' + 7
```

In [0]:
'7' + 7

TypeError: must be str, not int

<br>
<br>

### Subtraction `-`
<hr>

`-` is more straightforward than `+` in `python`, there is no concept of `subtraction` outside of the `numbers`.

<hr>

```python
2 - 3
```

In [0]:
2 - 3

-1

<br>
<br>

### Multiplication `*`
<hr>

Try multiplying together numbers and/or strings inside of a jupyter notebook cell. 
<br>
Notice how the behavior of `*` changes, depending on the data type of the objects being "multiplied."

<hr>

```python
2 * 2
```

In [0]:
2 * 2

4

```python 
'2' * 10
```

In [0]:
'2' * 10

'2222222222'

<br>
<br>

### Exponentiation `**`
<hr>

`**` is more straightforward than `*` in `python`, there is no concept of `Exponentiation` outside of the `numbers`.

<hr>

```python
2 ** 3
```

In [0]:
2 ** 20

1048576

<br>
<br>

### Division `/`
<hr>

We will do a deep dive on division below, as there is much more nuance here, because of the different classes of numbers, `int` and `float`

<hr>

```python 
8 / 2
```

In [0]:
8 / 2

4.0

***
<br>
<br>

# 2. Variables

### "Declaring" Variables
<hr>

We can save some `value`, the result of a `calculation`, or even the output of a `function` to a `variable`. This is particularly important for making your code `concise`, `readable`, and `efficient`.

<hr>

```python
a = 7
a
```

In [0]:
a = 7
a

7

<br>
<br>

### "Unpacking" Variables
<hr>

We can assign more than 1 variable at a time, in the future we will see how some functions return more than 1 value per function call, we can capture both outputs at once with this method.

<hr>

```python
b, c = 2, 3
b
c
```

In [0]:
b, c = 2, 3
b
c

3

Notice how when we reference more than 1 variable in a single cell, only the last one will be returned in the `output` cell. 
<br>
The next section provides a solution to this behavior.

---
<br>
<br>

# 3. Printing to Screen with `Print()`

*First* **Built-in Function** from the Python **Standard Library**

### `Print()` - simple
<hr>

You can have very simple `print()` statements, with only variables inside of the `()`. or even no values inside the `()` at all, which will just print a blank line.

<hr>

```python
print(a)
print(b)
print()
print(a, b)
```

In [0]:
print(a)
print(b)
print()
print(a, b)

7
2

7 2

<br>
<br>

### `Print()` - complex
<hr>

You can also combine data types inside of a `print()`, particularly `"strings of characters"` which must be within a set of `""` or `''`, we will discuss `strings` further in the next Notebook.

This is useful for providing context to a `print()`. You can do things like below, where the `,` gives you a space for free. 
<br>

**`print()` function call:** 
```python
print('Remaining tasks:', task_count)
```

**output:**
<br> 
<p style='margin-left: 30px;'>Remaining Tasks: 18</p>


<hr>

```python
print("a:", a)
print("b:", b)
```

In [0]:
print("a:", a)
print("b:", b)

a: 7
b: 2

```python 
print("-----------")
print("a:", a, "|", "b:", b)
print("-----------")
```

In [0]:
print("-----------")
print("a:", a, "|", "b:", b)
print("-----------")

-----------
a: 7 | b: 2
-----------

<hr>
<br>
<center><h1 style = 'color:red'>-----------Numbers Exercise (1)-------------</h1></center>
<br>
<hr>
<br>

# 4. Data Types: `int` vs `float`

#### Some more **Built-In Functions**
<hr>
Data type is important in Data Science, it is important that you know the `Data Type` of whatever variable you're working on, as that will determine the transformations that are avaiable to you. Say adding an element to a list, seperating a string by whitespace, or adding numbers together.

Keeping track of data type is especially important when dealing with the output of a function that you imported, particularly when you were not the author of the package where that function originated. An example would be the `.arange()` fucntion from the `numpy` package.
<hr>

### `type()`

```python
print(type(7))
print(type(7.0))
print(type('value'))
```

In [0]:
print(type(7))
print(type(7.0))
print(type('value'))

<class 'int'>
<class 'float'>
<class 'str'>

<br>
<br>

### `int()`
**Convert an appropriate datatype to `int`**
<br>
`7.0 -> int() -> 7`

```python
my_int = int(7.0)

print('value:', my_int)
print('type:', type(my_int))
```

In [0]:
my_int = int(7.0)

print('value:', my_int)
print('type:', type(my_int))

value: 7
type: <class 'int'>

<br>
<br>

### `float()`

**Convert an appropriate datatype to `float`**
<br>
`7 -> float() -> 7.0`

```python
my_float = float(7)

print('value:', my_float)
print('type:', type(my_float))
```

In [0]:
my_float = float(7)

print('value:', my_float)
print('type:', type(my_float))

value: 7.0
type: <class 'float'>

#### Note that division of `int`s (integers) produces a `float`:

```python
print(1 / 1)
print(6 / 5)
```

In [0]:
print(1 / 1)
print(6 / 5)

1.0
1.2

<br>
<br>

### `help()`, Use It OFTEN.

Jupyter Notebook has built-in documentation lookup, so instead of switching to a new tab with an infinite possibility for distractions, look up the definition of any function, `built-in` or otherwise —directly from a jupyter cell.

```python
help(some_func)

some_func?
```

In [0]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [0]:
print?

***
<br>
<br>

# 5. Deep Dive: Division

### [Float division](https://stackoverflow.com/questions/183853/what-is-the-difference-between-and-when-used-for-division) `/`

```python
7 / 3
```

In [0]:
7 / 3

2.3333333333333335

<br>
<br>

### [Integer division](https://stackoverflow.com/questions/183853/what-is-the-difference-between-and-when-used-for-division) `//`

```python
7 // 3
```

In [0]:
7 // 3

2

<br>
<br>

### [modulus](https://stackoverflow.com/questions/4432208/how-does-work-in-python) "remainder" `%`

```python
7 % 3
```

In [0]:
7 % 3

1

<hr>
<br>
<br>
<br>

# 7. Operator precedence in calculations

[comment]: PEMDAS
<img src="https://vignette.wikia.nocookie.net/math/images/c/c0/PEMDAS.png/revision/latest?cb=20120220215230&path-prefix=en"
width= "350px;">

### Execution order depends on [PEMDAS](https://www.mathsisfun.com/operation-order-pemdas.html)

```python
without_parens = 1 + 2**2 * 3 / 6
print(without_parens)
```

In [0]:
without_parens = 1 + 2**2 * 3 / 6
print(without_parens)

3.0

<br>
<br>

### Use brackets if you want to EXPLICITLY change the execution order:

```python
with_parens = (1 + 2**2) * 3 / 6
print(with_parens)
```

In [0]:
with_parens = (1 + 2**2) * 3 / 6
print(with_parens)

2.5

<hr>
<br>
<center><h1 style = 'color:red'>-----------Numbers Exercises (2)(3)-------------</h1></center>
<br>
<hr>
<br>